.hero-main-cont{
	background: #aaa;

	
	width: 100vw;
	margin-left: calc(50% - 50vw);
	// min-height: 500px;

	position: relative;
	margin-bottom: 5%;

	@include breakpoint(large){
		// min-height: 50vh;
		margin-bottom: 0;
	}

	img{
		@include breakpoint(medium down){
			object-fit: none;
			height: 100%;
		}
		@include breakpoint(large){
			width: 100%;
			z-index: 10;
		}
	}

	h1{
		font-family: nimbus-sans-extended, sans-serif;
		font-weight: 600;
		font-size: 29px;
		text-align: center;

		@include breakpoint(large){
			font-size: 49px;
			width: 60%;
		}
	}

	.hero-inner-cont{
		// background: #a79;
		z-index: 35;
		position: absolute;
		top: 0;
		left: 0;

		height: 100%;
			width: 100%;

		@include breakpoint(large){
			// position: absolute;
		}

		.hero-info-cont{
			// background: #a75;
			height: 100%;
			width: 100%;

			display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

			@include breakpoint(large){}

			.hero-button-cont{
				width: 100%;
				display: flex;
				flex-direction: column;

				@include breakpoint(medium down){
					padding: 0 10%;
				}

				@include breakpoint(large){
					flex-direction: row;
					justify-content: center;

					margin-top: 2%;
				}

				a:first-child{
					@include breakpoint(medium down){
						margin-bottom: 5%;
					}

					@include breakpoint(large){
						margin-right: 4em;
					}
				}

				a{
					font-weight: 600;
					text-transform: uppercase;
					padding: 1em;
					text-align: center;
					@include breakpoint(large){
						font-size: 16px;
						// padding: 1% 4%;
						padding: 1em 5.5em;
					}
				}
			}
		}
	}
}