.slider-main-cont{
	margin: 10% 0;

	@include breakpoint(large){
		display: flex;
		flex-direction: column;

		width: 100%;
		// margin-left: calc(50% - 50vw);
	}

	.slider-nav{
		@include breakpoint(large){
			align-self: flex-end;

			position: absolute;
			bottom: 0;
			right: 0;

			padding-left: 75%;
			width: 100%;
		}

		.slick-list{
			width: 100%;

			.slick-track{
				width: 100% !important;
				justify-content: space-between;
			}
		}
	}

	.slider-inner-cont{
		height: 100%;
		width: 100%;

		@include breakpoint(large){
			margin-bottom: 0 !important;
		} 
		.slider-card{
			min-height: 200px;
			@include breakpoint(large){
				display: flex;
			}

			.slider-left, .slider-right{
				@include breakpoint(large){
					width: 50%;
				}
			}

			.slider-left{
				@include breakpoint(large){
					min-height: 478px;
				}
				.slider-left-inner{
					height: 100%;
					max-height: 490px;
					position: relative;
					display: flex;

					@include breakpoint(medium down){
						flex-direction: column-reverse;
					}

					img{			
						width: 100%;
						@include breakpoint(large){
							height: auto;
							width: 100%;
						}				
					}

					.slider-sec-img{
						@include breakpoint(medium down){
							margin-bottom: 5%;
						}

						@include breakpoint(large){
							position: absolute;
							bottom: 0;
							right: 0;

							height: 40%;
							width: 27%; 

							border: 16px solid #fff;
						border-bottom: none;
						border-right: none;
						}

						.slider-before-img{
							height: 100%;
							width: 100%;
						}
					}
				}
			}

			.slider-right{
				margin-top: 5%;
				@include breakpoint(large){
					display: flex;
					align-items: center;
					margin-top: 0;
					margin-left: 5%;
				}

				.slider-right-inner{
					width: 100%;
					h3{
						font-weight: 600;
						font-size: 23px;
						@include breakpoint(large){
							font-size: 29px;
						}
					}

					p{
						color: $grey4;
						@include breakpoint(large){}
					}

					a{
						display: block;

						color: #fff;
						font-size: 15px;
						font-weight: 600;
						padding: 4% 8%;
						text-transform: uppercase;
						margin-top: 1%;

						width: -moz-max-content;
						width: fit-content;
						width: intrinsic;

						@include breakpoint(large){
							padding: 2.8% 8%;
							font-size: 12px;
							margin-top: 0;
						}
					}

					.inner-bottom-cont{

						.slider-nav{
							min-height: 90px;
						}
					}

					.category{
						color: $blue5;
						font-family: 'Open Sans', sans-serif;
						font-size: 10px;
						font-weight: 700;
						text-transform: uppercase;
						width: -moz-max-content;
						width: fit-content;
						width: intrinsic;
						padding: 1% 2%;
						@include breakpoint(large){}
					}
				}
			}
		}
	}
}