.text-slider-main-cont{
	background: $white1;
	min-height: 200px;
	width: 100%;
	// padding: 10% 5%;
	padding: 10%;
	padding-bottom: 0;
	margin-bottom: 20%;

	width: 100vw;
	margin-left: calc(50% - 50vw);

	display: flex;
	flex-direction: column;


	@include breakpoint(large){
		display: flex;
		flex-direction: column;
		padding: 3% 10%;
		padding-bottom: 0;
		margin-bottom: 5%;
	}

	.slider-for{
		margin-bottom: 1%;
		@include breakpoint(large){

		}
	}

	.slider-nav{
		width: 50%;
		display: flex;
		justify-content: center;

		@include breakpoint(medium down){
			align-self: center;
		}
		
		@include breakpoint(large){
			width: 100%;
			padding: 0 40% !important;	
		}
		.slick-list{
			width: 100%;
			padding: 2% 4% !important;

			@include breakpoint(large){}

			.slick-track{
				width: 100% !important;
				justify-content: space-between;
			}
		}
	}
}