.footer-container {
  background: $blue2;
  background-image: url("/wp-content/themes/aas/dist/assets/images/preferated.png");
  background-size: 1200px 133.3333333333333px;
  margin-bottom: 56px;
  overflow: hidden;

  @include breakpoint(large){
    margin: 0;
    padding: 0;
    max-width: none;
    position: relative;
    z-index: 30;
  }
}

.footer-grid {
  @include xy-grid;

  section {
    @include xy-cell();
    @include breakpoint(large) {
      @include xy-cell(auto);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer-upper, .footer-lower{
    width: 100%;
  }

  .footer-upper{
    display: flex;
    @include breakpoint(large){
      min-height: 100px;
      height: 100%;

      margin: 0 10%;
    }

    .upper-left{
      width: 50%;
      display: flex;
      align-items: center;
      @include breakpoint(large){
        padding-right: 10%;
        width: 30%;
      }

      img{
        user-drag: none; 
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        @include breakpoint(medium down){
          display: none;
        }
      }

      .mobile-copy-cont{
        font-family: 'Open Sans', sans-serif;
        height: 100%;
        width: 100%;
        background: $blue3;
        padding: 10%;

        display: flex;
        flex-direction: column;
        justify-content: center;


        @include breakpoint(large){
          display: none;
        }

        p, a{
          color: #fff;
          font-size: 9px;
          margin: 0;
        }

        p{
          margin-bottom: 1em;
        }
      }
    }

    .upper-right{
      width: 50%;
      @include breakpoint(large){
        display: flex;
        justify-content: space-between;
        width: 70%;
      }

      .r-right{
        background: $blue1;
        @include breakpoint(medium down){
          padding: 15%;
        }

        @include breakpoint(large){
          padding: 4% 3%;
        }

        img{
          user-drag: none; 
          user-select: none;
          -moz-user-select: none;
          -webkit-user-drag: none;
          -webkit-user-select: none;
          -ms-user-select: none;

          height: auto;          
          @include breakpoint(large){
            min-width: 150px; 
          }
        }
      }

      .r-left{
        width: 100%;
        display: none;
        @include breakpoint(large){
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-family: nimbus-sans-extended, sans-serif;
          font-weight: 600;
          padding-left: 5%;
        }

        ul{
          flex-direction: row;
        }

        a{
          color: #fff;
          text-transform: uppercase;
        }

        .menu .is-active > a{
          background: none;
        }
      }
    }
  }

  .footer-lower{
    background: $blue4;
    min-height: 40px;

    @include breakpoint(large){
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10%;
    }

    .lower-left{
      background: #fff;
      width: 100%;

      @include breakpoint(large){
        height: 100%;
        width: 20%;
      }

      .social-cont{
        background: $orange1;
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-around;

        padding: 5% 15%;

        @include breakpoint(large){
          padding: 5%;
        }
      }
    }

    .lower-right{
      width: 80%;
      display: none;
      @include breakpoint(large){
        display: flex;
        justify-content: flex-end;
        height: 100%;
      }

      .l-left{
        @include breakpoint(large){
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
          width: 50%;
        }

        a, p{
          color: #fff;
          font-family: 'Open Sans', sans-serif;
          @include breakpoint(large){
            font-size: 9px;
            opacity: 65%;
          }
        }

        p{
          margin: 0;
        }
      }

      .l-right{
        background: $blue1;
      }
    }
  }
}