// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(large); // changed to large so mobile will show on medium also - JHL nav
}
//
.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(large); // same as above - JHL nav
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}

.site-header{
	position: relative;

	.menu-toggle-cont{
		position: fixed;
		bottom: 0;
		left: 0;
		height: 56px;
		width: 100%;
		z-index: 45;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@include breakpoint(large){
			display: none;
		}

		.menu-toggle-inner{
			position: relative;

			.menu-toggle{
				position: absolute;
				bottom: 0;
				left: 0;
				background: $blue2;
				height: 56px;
				width: 100%;
				z-index: 100;

				display: flex;
				justify-content: center;
				align-items: center;

				a{
					font-weight: 600;
					text-transform: uppercase;
				}

				a::after{
					font-family: "Font Awesome 5 Pro";
					font-size: 15px;
					content: "\f077";
					margin-left: 5%;
				}

				span{
					font-weight: 600;
					text-transform: uppercase;
				}

				span::after{
					font-family: "Font Awesome 5 Pro";
					font-size: 15px;
					content: "\f077";
					margin-left: 5%;
				}


				
			}
		}
	}
}

.title-bar{
	background: #fff;
	padding: 5% 0;
	padding-top: 15%;
	position: relative;

	@include breakpoint(small down){
		min-height: 140px;
		max-height: 140px;
	}

	.title-bar-left{
		display: flex;
		justify-content: center;

		a{
			display: flex;
			justify-content: center;
			img{
				width: 65%;
			}
		}
	}

	.title-bar-right{

		display: flex;
		justify-content: center;
		align-items: center;

		.menu-icon, .close-menu{

		}

		.close-menu{
			display: none;
		}
	}
}

.show-mobile-nav{
	display: block !important;
	top: 0 !important;
	transition: top 0.6s ease !important;
}

// mobile menu
#mobile-menu-jhl {
    position: fixed;
    top: 100%;
    bottom: 0;
    width: 100vw;
    overflow: scroll;
    background-color: $primary-color;
    transition: top 0.6s ease;
    z-index: 50;
    @include breakpoint(medium) {
      padding: 1.5rem 2rem 2rem 2rem;
    }
    a {
      color: #fffffe;
    }

    .menu-inner-toggle-cont{
		position: relative;

		.menu-toggle{
			a::after{
				font-family: "Font Awesome 5 Pro";
				font-size: 15px;
				content: "\f078";
				margin-left: 5%;
			}
			
		}
	}

    .mobile-menu-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background: #fff;
      min-height: 140px;
      .logo-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5%;

        a{
        	display: flex;
        	justify-content: center;
        }

        img{
        	width: 65%;
        }
      }
      .close-menu {
        padding: 0.2rem 0.6rem; 
        margin-top: 0.2rem;
        border-radius: 0;
        border: none;
        cursor: pointer;
        i {
          font-size: rem-calc(34);
          color: $white;
        }
      }
    }

    >.menu {
      text-align: center;
      padding: 15% 0;
      padding-bottom: 5%;
      >.menu-item {
      	margin-bottom: 5%;
        >a {
          padding: 0.5rem 2rem;
          margin: 0;
          display: inline-block;
          font-size: rem-calc(21);
          line-height: rem-calc(35);
          font-size: 18px;
          font-weight: 600;
          text-transform: uppercase;
        }
        .submenu-toggle {
          display: none;
        }
        .submenu {
          margin: 0 0 1rem 0;
          li {
            cursor: default;
            &:first-of-type {
              display: none;
            }
            a {
              font-size: rem-calc(17);
              font-weight: 500;
              display: inline-block;
              line-height: rem-calc(30);
              &:before {
                content: '- ';
              }
            }
          }
        }
      }
      .button {
        border: none;
        >a {
          border: 2px solid $secondary-color;
          border-radius: rem-calc(35);
          margin: 1rem 0;
        }
        .submenu {
          margin-bottom: 0;
        }
        &:hover {
          background-color: transparent;
          cursor: default;
        }
      }
    }

    .mobile-phone-cont{
    	padding: 0 20%;
    	padding-bottom: 8%;

    	a{
    		display: block;
    		background: $orange1;
    		min-height: 51px;
    		text-align: center;
    		font-weight: 600;
    		justify-content: center;
    		text-transform: uppercase;

    		display: flex; 
    		align-items: center;
    	}
    }

    .mobile-menu-social-cont{
    	width: 100%;

    	display: flex;
    	justify-content: space-between;
    	padding: 0 30%;
    	padding-bottom: 10%;
    }
}

/*END MOBILE MENU**************************/

.top-bar{
	background: #fff;

	@include breakpoint(large){
		padding: 2% 10%;
	}

	ul{
		background: none;
		justify-content: space-between;
		width: 100%;
	}

	.top-bar-title{
		margin: 0;
	}

	.top-bar-left, .top-bar-right, .top-bar-center{
		@include breakpoint(large){
			height: 100%;
			width: 40%;	
		}

		a{
			color: $blue3;
			font-family: nimbus-sans-extended, sans-serif;
			font-weight: 600;
			text-transform: uppercase;

			img{
				user-drag: none; 
				user-select: none;
				-moz-user-select: none;
				-webkit-user-drag: none;
				-webkit-user-select: none;
				-ms-user-select: none;
			}
		}

		.top-bar-left-menu, .top-bar-right-menu{
			@include breakpoint(large){
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
		}

		.top-bar-left-menu{
			@include breakpoint(large){
				padding-right: 20%;
			}
		}

		.top-bar-right-menu{
			@include breakpoint(large){
				padding-left: 20%;
			}
		}
	}

	.top-bar-left{
		@include breakpoint(large){
			display: flex;
			justify-content: flex-end;
		}
	}

	.top-bar-center{ 
		@include breakpoint(large){
			height: 100%;
			width: 20%;			
		}
	}
}
