.blog-main-cont{
	.main-grid{

		width: 100%;
		.main-content{

			margin: 0;
			padding: 0;
			width: 100%;
			.blog-first-cont{
				// background: #ee4;
				width: 100%;

				margin: 0;
			}

			.blog-rest-cont{
				width: 100%;

				padding: 0;
				margin: 0;

				//hiding the first blog post based off of the design
				.single-blog-main:first-child{
					display: none;
				}
			}
		}
	}
}