.contact-main-cont{
	// background: #aaa;
	margin: 0 5%;
	padding: 0;
	@include breakpoint(large){
		margin: 0 20% !important;	
	}

	.main-grid{

		.main-content-full-width{

			width: 100%;

			.contact-info-cont{
				display: flex;
				flex-direction: column;

				margin-bottom: 20%;

				@include breakpoint(large){
					flex-direction: row;
					margin-bottom: 10%;

					flex-direction: row;
				}

				.contact-left, .contact-right{
					width: 50%;
				}

				.contact-left{
					height: 100%;

					@include breakpoint(medium down){
						width: 100%;
						margin-bottom: 20%;
					}

					p{
						font-family: 'Open Sans', sans-serif;
						font-size: 16px;
						margin: 0;
						margin-bottom: 0.7em;
						padding-left: 0.7em;
						@include breakpoint(large){}
					}

					.right-angle-grey{
						
						color: $blue5;
						font-family: 'Open Sans', sans-serif;
						font-size: 10px;
						font-weight: 700;
						text-transform: uppercase;
						width: 266px;
						padding: 1% 2%;
						@include breakpoint(large){}
					}

					.social-contact-cont{
						display: flex;
						justify-content: flex-start;

						a:first-child{}

						a{
							margin: 0 0.4em;
						}
					}
				}

				.contact-right{
					@include breakpoint(medium down){
						width: 100%;
						height: 286px;
					}
					iframe{
						height: 100%;
						width: 100%;
					}
				}
			}
		}
	}
}