.featured-main-cont{
	position: relative;

	// margin: 0 5%;

	@include breakpoint(large){
		// margin: 5% 10%;
	}

	.featured-inner-cont{
		height: 100%;
		width: 100%;

		@include breakpoint(large){
			margin-bottom: 10%;
		}

		.featured-card{
			min-height: 200px;
			@include breakpoint(large){
				display: flex;
				// padding: 2% 0;
				// padding-bottom: 0; 
			}

			.featured-left, .featured-right{
				
				@include breakpoint(large){
					width: 50%;
				}
			}

			.featured-left{
				overflow: hidden;
				.featured-left-inner{
					height: 100%;
					max-height: 490px;
					position: relative;

					@include breakpoint(large){
						display: flex;
					}

					img{			
						width: 100%;
						@include breakpoint(large){
							height: auto;
							width: 100%;
						}				
					}

					.featured-sec-img{
						// background: #aaa;
						position: absolute;
						bottom: 0;
						right: 0;

						height: 40%;
						width: 27%; 

						border: 16px solid #fff;
						border-bottom: none;
						border-right: none;
						@include breakpoint(medium down){
							display: none;
						}

						.featured-before-img{
							// object-fit: none;
							height: 100%;
							width: 100%;
						}
					}
				}
			}

			.featured-right{
				margin-top: 5%;
				@include breakpoint(large){
					display: flex;
					align-items: center;
					margin-top: 0;
					margin-left: 5%;
				}

				.featured-right-inner{
					width: 100%;
					h3{
						font-weight: 600;
						font-size: 23px;
						@include breakpoint(large){
							font-size: 29px;
						}
					}

					p{
						color: $grey4;
						@include breakpoint(large){
							padding-bottom: 4%;
						}
					}

					a{
						display: block;

						color: #fff;
						font-size: 15px;
						font-weight: 600;
						padding: 4% 8%;
						text-transform: uppercase;
						margin-top: 1%;

						width: -moz-max-content;
						width: fit-content;
						width: intrinsic;

						@include breakpoint(large){
							padding: 2.8% 8%;
							font-size: 12px;
							margin-top: 0;
						}
					}

					.category{
						color: $blue5;
						font-family: 'Open Sans', sans-serif;
						font-size: 10px;
						font-weight: 700;
						text-transform: uppercase;
						width: -moz-max-content;
						width: fit-content;
						width: intrinsic;
						padding: 1% 2%;
						@include breakpoint(large){}
					}
				}
			}
		}
	}
}