h3{
	font-size: 19px;
	font-weight: 600;
}

h2{
	font-size: 23px;
	font-weight: 600;
	@include breakpoint(large){
		font-size: 29px;
	}
}

p{
	@include breakpoint(large){
		padding: 0 10%;
	}
}

.white{
	color: #fff;
}

.black{
	color: #000;
}

.blue2{
	color: $blue2 !important;
}

.blue5{
	color: $blue5 !important;
}

.grey4{
	color: $grey4 !important;
}

.white1-bg{
	background: $white1;
}

.orange-bg{
	background: $orange1;	
}

.social-icon{
	font-size: 20px;
}

.center-text{
	text-align: center;
}

.bottom-margin-cushion{
	margin-bottom: 5%;
}

.button-hover{
	&:hover{
		color: #fff !important;
	}
}

.cover-text-cont{
	margin: 0 10%;
}

.entry-title{
	display: none;
	color: #fff;
	font-size: 29px;
	@include breakpoint(large){
		font-size: 49px;
	}
}

.default-cover-cont{
	.entry-title{
		display: block;
	}
}

.default-cover-cont{
	// background: #aaa;
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 30;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-bottom: 15%;

	min-height: 35vh;	

	padding: 5% 10%;

	@include breakpoint(large){
		min-height: 40vh;
		margin-bottom: 5%;
		// flex-direction: column;
		padding: 0;
	}

	img{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;

		@include breakpoint(medium down){
			max-width: none !important;
		}

		@include breakpoint(large){
			height: auto;
			width: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	}

	h1, p{
		text-align: center;
		z-index: 35;
		position: relative;
	}

	h1 {
		font-weight: 600;
	}

	p{
		font-size: 15px;
		@include breakpoint(large){
			font-size: 23px;			
		}
	}
}

.orange-btn{
	background: $orange1;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	padding: 1% 5%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 43px;

	text-transform: uppercase;
}

.bg-overlay-blue{
	// display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	background: $blue3 !important;
	opacity: .9;
	z-index: 17;
}

.entry-content{
	margin: 0 5%;
	@include breakpoint(large){
		margin: 0 10%;
	}
}

.main-container{
	@include breakpoint(large){
		margin: 0 10%;
		padding: 0;
		max-width: none;
	}

	.main-content-full-width{
		margin: 0;
	}
}

.archive-card{
	min-height: 400px;
	position: relative;

	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;

	@include breakpoint(large){
		margin-bottom: 2%;
	}

	.bg-cont{
		position: absolute;
		top: 0;
		left: 0;

		height: 100%;
		width: 100%;
		z-index: 15;


		img{
			@include breakpoint(large){
				object-fit: none;
				height: 100%;
				width: auto;
			}
		}
	}

	.inner-cont{
		height: 100%;
		width: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		position: relative;
		z-index: 20;
	}
}

.wp-block-buttons{
	// background: #aaa;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 1em;

	@include breakpoint(large){
		margin-bottom: 2em;
	}

	.wp-block-button{

		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
		width: 100%;

		.button{
			display: block;

			background: $orange1;
			color: #fff;
			font-size: 15px;
			font-weight: 600;
			padding: 4% 8%;
			text-transform: uppercase;
			margin-top: 1%;

			width: -moz-max-content;
			width: fit-content;
			width: intrinsic;

			@include breakpoint(large){
				// padding: 2.8% 8%;
				padding: 1.2em 3em;
				font-size: 12px;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
}

.wp-block-cover{
	padding: 0 10%;
	width: 100vw;
	margin-left: calc(50% - 50vw);

	@include breakpoint(large){
		width: 100vw;
		margin-left: calc(50% - 50vw);
	}
	
	.wp-block-cover__inner-container{
		height: 100%;
		width: 100%;

		.wp-block-columns{
			height: 100%;
			width: 100%;
			margin: 0;

			.wp-block-column:first-child{
				@include breakpoint(medium down){
					margin-top: 5%;
					margin-bottom: 25%;
				}
			}

			.wp-block-column{
				position: relative;
				h3, p{
					@include breakpoint(large){
						margin: 0;	

					}
				}

				h3{
					font-size: 23px;
					font-weight: 600;
					@include breakpoint(large){
						
					}
				}

				h3::before{
					content: '';
					position: absolute;
					width: 0;
					bottom: 0;
					height: 15px;
					width: 40%;
					background: $orange1;
					z-index: -1;
					left: 0;
					
					@include breakpoint(medium down){
						bottom: -25%;
					}
				}

				h3::after{
					content: '';
					position: absolute;
					width: 0;
					left: 5%;
					bottom: 0;
					height: 15px;
					width: 38%;
					background: $orange1;
					z-index: -1;
					right: calc(100% - (50px/2));
					transform: skewX(-40deg);
					@include breakpoint(medium down){
						bottom: -25%;
					}
				}

				p{
					color: $coal1;
					font-size: 14px;
					@include breakpoint(large){
						color: $grey4;
						font-size: 16px;
					}
				}
			}
		}
	}
}
.slider-for{
	.slick-next, .slick-prev{
		display: none !important;
		background: #a43;
		height: 50px;
		width: 50px;
	}

	.text-cont{

		@include breakpoint(large){
			display: flex !important; 
			flex-direction: column;
			align-items: center;
		}

		h4{
			font-family: 'Open Sans', sans-serif;
			font-size: 19px;
			text-align: center;
			@include breakpoint(large){
				font-size: 23px;

				padding: 3% 0;
			}
		}

		p{
			color: $blue5;
			font-family: 'nimbus-sans';
			font-size: 10px;
			font-weight: 600;
			padding: .8em 1.5em;
			text-transform: uppercase;
			width: -moz-max-content;
			width: fit-content;
			width: intrinsic;
		}	
	}
}
.slider-nav{
	// display: none !important;
	// background: gold;

	@include breakpoint(large){
		width: fit-content;
		align-self: center;
	}

	.slick-list{
		background: #fff;
		@include breakpoint(large){
			width: fit-content;
		}

		.slick-track{
			width: auto;
			transform: none !important;

			display: flex;
			justify-content: center;

			@include breakpoint(large){
				display: flex;
				justify-content: center;
			}

			.slick-slide:first-child{
				margin-left: 0;
			}

			.slick-slide{
				text-align: center;
				margin: 0 0.5%;

				width: -moz-max-content !important;
				width: fit-content !important;
				width: intrinsic !important;
			}

			.slick-slide::after{
				font-family: "Font Awesome 5 Pro";
				font-size: 10px;
				font-weight: 600;
				content: "\f45c";
				color: $white1;
			}

			.slick-current::after{
				color: $blue2;
			}
		}
	}
}

/*GRAVITY FORM START*/
.gform_wrapper{
	@include breakpoint(large){}

	.gform_title{
		color: $blue5;
		font-size: 23px;
		@include breakpoint(large){
			width: 50%;	
		}
	}

	.gfield_label{
		font-family: 'Open Sans', sans-serif;
		font-size: 11px !important;
		font-weight: 400 !important;
	}

	.gform_footer{
		.gform_button{
			display: none;
			background: $orange1;
			font-size: 12px !important;
			font-weight: 600;
			text-transform: uppercase;
			padding: 1.2em 2.5em;
		}
	}

	.ginput_container{
		input, textarea{
			background: $white1;
			border: none;
			box-shadow: none;
		}
	}
}
/*GRAVITY FORM END*/	