.archive-projects-main-cont{
	.archive-projects-main-innercont{
		.archive-card-cont{
		}
	}
}

.archive-projects-main-cont, .archive-services-main-cont{
	overflow: hidden;
	margin-bottom: 3rem;
	@include breakpoint(large){
		margin-top: 3rem;
	}

	.grid-container{
		
		margin: 0 10%;
		padding: 0;
		max-width: none;
	}

	.archive-card-cont{
		.sp-main-cont{
			display: flex; 
			flex-direction: column;
			justify-content: center;
			align-items: center;

			position: relative;
			overflow: hidden;

			margin-bottom: 5%;

			@include breakpoint(large){
				margin-bottom: 2%;
			}

			.bg-cont{
				position: absolute;
				top: 0;
				left: 0;

				height: 100%;
				width: 100%;
				z-index: 15;

				.bg-inner-cont{
					position: relative;
					height: 100%;
					width: 100%;

					img{
						@include breakpoint(medium down){
							max-width: none;
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							margin: auto;
						}
						@include breakpoint(large){
							object-fit: none;
							height: 100%;
							width: auto;
						}
					}
				}
			}

			.sp-inner-cont{
				height: 100%;
				width: 100%;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				position: relative;
				z-index: 20;
			}
		}
	}
}