@mixin wedge($side, $direction, $color, $width) {
  // @include breakpoint(large){
    position: relative;
    z-index: 1;
    &:after{
      content: '';
      position: absolute;
      width: 0;
      top: 0;
      height: 100%;
      width: $width;
      background: $color;
      z-index: -1
    }
    
    @if $side == left{
      &:after{
        right: calc(100% - (#{$width}/2));
      }
     
    }
    @if $side == right{
      &:after{
        left: calc(100% - (#{$width}/2));    
      }

    }
    @if $direction == top {
      
      &:after{
        transform: skewX(40deg);
      }
      @if $side == right{
        &:after{
          transform: skewX(-40deg);
        }
      }
    }
    @if $direction == bottom{
      &:after{
        transform: skewX(-40deg);
      }
      @if $side == right{
        &:after{
          transform: skewX(40deg);
        }
      }
     
    }
  // }
}


.left-angle{
  background: $orange1;
  @include breakpoint(large){
    background: $orange1;
    @include wedge(left , bottom, $orange1, 50px);
  }
}

.right-angle{
  background: $orange1;
  @include breakpoint(large){
    background: $orange1;
    @include wedge(right , top, $orange1, 50px);
  }
}

.right-angle-grey{
  background: $white2;
  @include wedge(right , top, $white2, 30px);
}